<h1>Settings</h1>

<form action="<%= settings_post_path %>" method="post" onsubmit="return confirm('Are you sure this is your gamertag?')">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <label for="gamertag">Xbox Live Gamertag</label>
  <input type="text" name="gamertag" value="<%= current_user.gamertag %>" />

  <input type="submit" value="Save" />
</form>
