

.video {
  position: relative;

  .poster {
      background: transparent no-repeat center center;
      background-size: cover;
      margin-bottom: 30px;
      padding-bottom: 56%;
      overflow: hidden;
      position: relative;
  }

  a.play {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
      span{
        position: absolute;
        top: 50%;
        left:50%;
        @include transform (translateX(-50%) translateY(-50%));
        text-transform: uppercase;
        font-family: "geomanistmedium";
        font-size: em(28);
        letter-spacing: 2.33px;
        line-height: em(40);
        text-align: center;
        vertical-align: middle;
      }
  }

    &.video-large, &.video-medium {  
        a.play {
            
            span{
                padding:20px 20px 20px 21px;
                &:after{
                    content:'';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                    background: white;
                    border-radius:50%;
                    border-bottom-left-radius: 0%;
                }        
            }
        }
    }
    
    &.video-large {  
        a.play {
            span{
                top:calc(50% - 20px);
            }
        }
    }

    &.video-medium {  
        a.play {
            span{
                top:calc(50% - 30px);
                @include transform(translateX(-50%) translateY(-50%) scale(0.7));
            }
        }
    }

    &.video-small {  
        a.play{
            color:white;
        }
    }


  &.video-large, &.video-medium {
      // a.play {
      //   position: absolute;
      //   top: calc(50% - 61px);
      //   left: calc(50% - 61px);
      //   background: white;
      //   display: inline-block;;

      //   padding-top: 22px;
      //   padding-bottom: 18px;
      //   padding-left: 23px;
      //   padding-right: 17px;

        
      //   border-radius:50%;
      //   // border-bottom-left-radius: 0%;
        
      // }



      .description {
          
        position:absolute;
        bottom:0px;
        left:0; 
        right: 0;
        padding:10px 20px 10px; 
        
        z-index: 10;
        @include transition(opacity 300ms ease-in-out, bottom 250ms ease-in-out);
      }

      a {
        text-decoration: none;
      }

      span.title {
        display: block;

        font-family: "geomanistbook";
        font-size: em(24);
        color: white;
        line-height: em(24);

        a {
            color: white;
        }
      }

      span.subtitle {
        display: block;

        color: white;
        font-size: em(18);
      }

      .accent {
          width: 200%;
          background: $brand-primary;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;

          z-index: 9;

          @include transform(translateX(-12%) translateY(103%) rotate(15deg));
      }
  }

  &.video-medium {
      // a.play {
      //   top: calc(40% - 39px);
      //   left: calc(50% - 39px);

      //   padding-top: 36px;
      //   padding-bottom: 30px;
      //   padding-left: 8px;
      //   padding-right: 6px;

      //   @include border-top-radius(60px);
      //   @include border-right-radius(60px);
      //   @include border-bottom-radius(60px);
      //   @include border-left-radius(60px);

      //   font-size: em(28);
      //   letter-spacing: 2.33px;
      //   line-height: em(8);
      // }

      .description {
          padding: 10px;
          position:absolute;
          bottom:0;
          z-index: 10;
      }

      span.title {
        font-size: em(20);
        line-height: em(20);
      }

      span.subtitle {
        font-size: em(16);
      }
  }

  &.video-small {
      overflow: visible;

      // a.play {
      //     color: white;
      //     position: absolute;
      //     top: calc(50% - 32px);
      //     left: calc(50% - 32px);

      //     &:hover {
      //         text-decoration: none;
      //     }
      // }

      .poster {
          margin-bottom: 5px;
      }

      .description {
          color: $grey;

          text-overflow: ellipsis;
          word-wrap: break-word;
      }

      span.title {
        font-size: em(14);
        line-height: em(24);
        display: inline;
      }

      span.subtitle {
        font-size: em(14);
        display: block;
      }
  }

  .video-js {
      padding-top: 56.25%;
  }


.video-js + .description{

    background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 24%, rgba(0,0,0,0) 68%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(24%,rgba(0,0,0,0.7)), color-stop(68%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 24%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 24%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 24%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.7) 24%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */     
}


  .vjs-fullscreen {
      padding-top: 0px;
  }

  .vjs-has-started:hover + .description{
    bottom:39px;
  }

  .vjs-has-started + .description {
      bottom:33px;
  }

  .vjs-playing + .description {
    opacity: 0;
    visibility: hidden;
  }
}
