.video {
  background: transparent no-repeat center center;
  background-size: cover;
  margin-bottom: 30px;
  padding-bottom: 56%;
  overflow: hidden;
  position: relative;

  a {
    text-decoration: none;
  }

  span.title {
    display: block;

    font-family: Geomanist-Book;
    font-size: em(24);
    color: white;
    line-height: em(24);

    a {
        color: white;
    }
  }

  span.subtitle {
    display: block;

    color: white;
    font-size: em(18);
  }

  .description {
      padding: 20px;
      position:absolute;
      bottom:0;
      z-index: 10;
  }

  .accent {
      width: 200%;
      background: $brand-primary;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;

      z-index: 9;

      @include transform(translateX(-12%) translateY(103%) rotate(15deg));
  }

  a.play {
    position: absolute;
    top: calc(50% - 61px);
    left: calc(50% - 61px);
    background: white;
    display: inline-block;;

    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 23px;
    padding-right: 17px;

    @include border-top-radius(60px);
    @include border-right-radius(60px);
    @include border-bottom-radius(60px);
    @include border-left-radius(60px);

    /* SIGN UP: */
    text-transform: uppercase;
    font-family: Geomanist-Medium;
    font-size: em(28);
    letter-spacing: 2.33px;
    line-height: em(40);

    text-align: center;
    vertical-align: middle;
  }
}
