/*
 *= require video-js
 */

$brand-primary: #9757E1;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "video-js";

$dark-grey: #333;
$light-grey: #bdbec1;
$purple: #9757E1;

* {
  font-family: 'Open Sans', sans-serif;
}

.video-list, .game-list, .screenshot-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

.video-list li {
  width: calc(20% - 4px);
}

.game-list li {
  margin-left: 1em;
  margin-bottom: 1em;

  img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1000px) {
  .video-list li {
    width: calc(25% - 3px);
  }
}

@media (max-width: 600px) {
  .video-list li {
    width: calc(50% - 2px);
  }
}

@media (max-width: 400px) {
  .video-list li {
    width: 100%;
  }
}


body {
  background-color: black;
  color: $light-grey;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: $purple;
}

video {
  width: 100%;
}

.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}
