/*
 *= require video-js
 */

$brand-primary: #74C080;
$grey: #939994;

@import "bourbon";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "video-js";

@import "components/fonts";
@import "components/logo";
@import "components/video";
@import "components/screenshot";
@import "components/cta";
@import "components/menu";
@import "components/game";
@import "components/footer";
@import "components/gamerpane";
@import "components/games_list";
@import "components/vote";

* {
    font-family: "geomanist_regularregular";
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    background: $brand-primary;
}


.container-fluid{
	padding:0;
}

 .container-footer {
    padding:48px 4.16%;
}

.container-body {
    color: $brand-primary;
    background: white;
    padding-bottom:48px;
}

.container-footer {
    color: white;
    background: $brand-primary;
}

.header-row, .menu-row, .vgutter-row {
    margin-bottom: 20px;
}

header.header-row{
	padding-left:4.16%;
	padding-right:4.16%;
    padding-top: 48px;
}

	.menu-row{
		padding-left:4.16%;
		padding-right:4.16%;
	}

.page-width{
	> section{
		padding-left:4.16%;
		padding-right:4.16%;

		&.top-details{
			margin: 0 0 20px;
		}
	}

}





.row-breakout {
    background-color: $brand-primary;
    padding-left:4.16%;
	padding-right:4.16%;
    padding-top: 30px;
    padding-bottom: 30px;
}

h3 {
    font-family: "geomanistbold";
    font-size: 16px;
    line-height: 24px;
}

.stats {
    text-align: right;
    
    .view_count {
        font-size: em(18);
    }

    .recorded_at {
        font-size: em(14);
    }
}
