// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  margin: 0;
  padding: 0;
}

p.notice, p.alert {
  display: none;
}

.videos-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    a {
      display: inline-block;
    }

    margin: 0;
    padding: 0;

    width: 20%;
    float: left;

    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}
