// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: 'Open Sans', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;

  background: #333333;
  color: #bdbec1;
}

p.notice, p.alert {
  display: none;
}

.header {
  padding: 10px;
  position: fixed;
  background: #333333;
  color: #bdbec1;
  width: 100%;

  a {
    color: white;
  }
}

.content {
  padding-top: 42px;
}

.videos-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    a {
      display: inline-block;
    }

    margin: 0;
    padding: 0;

    float: left;

    width: 20%;

    @media (max-width: 1200px) {
      width: 25%;
    }

    @media (max-width: 900px) {
      width: (100%/3);
    }

    @media (max-width: 600px) {
      width: 50%;
    }

    @media (max-width: 400px) {
      width: 100%;
    }

    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}
