// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-grey: #333;
$light-grey: #bdbec1;
$purple: #9757E1;

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

p.notice, p.alert {
  display: none;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

a {
  color: white;
}

form div {
  margin-bottom: 0.3em;

  label {
    display: inline-block;
    margin-bottom: 0.2em;
  }

  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
}

img {
  border: 0;
}

img.responsive {
  max-width: 100%;
  height: auto;
}

.header {
  padding: 10px;
  position: fixed;
  background: #333333;
  color: #bdbec1;
  width: 100%;
  box-sizing: border-box;

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }
}

body.fixed-header {
  .content {
    padding-top: 42px;
  }
}

header.hero {

  padding: 3em 0;

  h1 {
    color: white;
    font-size: 3em;
    text-align: center;
  }

  ul {
    text-align: center;
    margin-top: 20px;

    li {
      margin: auto;
      display: inline-block;
      margin: 0px 10px;
    }
  }

  a.button {
    background: white;
    color: black;
    display: inline-block;

    padding: 14px;

    text-decoration: none;
    font-weight: bold;

    border-radius: 17px;

    &:hover {
      background-color: #eee;
    }

    &.primary {
      background-color: $purple;
      color: white;
    }

    &.secondary {
      color: $purple;
    }
  }

  &.floating {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.5);
  }
}

.content.central {
  padding-top: 0;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  min-width: 500px;
  background: lighten($dark-grey, 10%);

  .inner {
    padding: 20px;
  }
}

.videos-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    a {
      display: inline-block;
    }

    margin: 0;
    padding: 0;

    float: left;

    min-height: 80px;

    img {
      width: 100%;
      vertical-align: bottom;

      min-width: 1px;
      min-height: 1px;
    }
  }

  li {
    width: 20%;

    @media (max-width: 1200px) {
      width: 25%;
    }

    @media (max-width: 900px) {
      width: (100%/3);
    }

    @media (max-width: 600px) {
      width: 50%;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  &.small {
    li {
      width: 10%;

      @media (max-width: 1200px) {
        width: 25%/2;
      }

      @media (max-width: 900px) {
        width: (100%/3)/2;
      }

      @media (max-width: 600px) {
        width: 50%/2;
      }

      @media (max-width: 400px) {
        width: 100%;
      }
    }
  }
}

.users-list {
  margin-bottom: 1em;
}

.games-list {
  li {
    float: left;
  }
  margin-bottom: 1em;
}

.badge {
  display: inline-block;
  padding: 4px 4px 3px 4px;
  font-size: 8px;
  border-radius: 7px;
  text-transform: uppercase;

  position: relative;
  top: -2px;

  &.pro {
    background: $purple;
    color: white;
  }
}

body.player {
  background: black;

  .header {
    background: black;

    h1 {
      font-size: 0.9em;
      display: inline-block;
    }

    .twitter-share-button {
      display: inline-block;
      margin-left: 20px;
      float: right;
    }

    .like-box {
      display: inline-block;

      form {
        display: inline-block;
      }
    }
  }

  .footer {
    -webkit-transition: all ease 0.3s;

    position: absolute;
    bottom: -500px;
    left: 10px;

    .box-art {
      width: 150px;
    }
  }

  &.mouse-moving {
    .content {
      -webkit-transform: scale(0.9);
      -webkit-transform-origin: center center;
    }

    .footer {
      bottom: 0;
    }
  }

  .content {
    -webkit-transition: all ease 0.3s;

    background: black;

    margin: auto;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    video {
      width: 100%;
      max-height: 100%;
    }
  }
}
