<% if @video %>
  <% content_for :additional_title do %>
    <%= @video.title %> by <%= link_to @video.user.gamertag, user_path(@video.user.gamertag) %>.
  <% end %>
  <video src="<%= @video.cdn_clip_url %>" autoplay controls poster="<%= @video.cdn_thumbnail_url %>" style="width: 100%; height: 100%;">

  </video>
<% else %>
  <p>
    Clip not found.
  </p>
<% end %>
