<% if @video %>
  <% content_for :additional_title do %>
    <%= @video.title %> by <%= link_to @video.user.gamertag, user_path(@video.user.gamertag) %>.
  <% end %>
  <video src="https://s3-eu-west-1.amazonaws.com/xbone-clips/<%= @video.clip_id %>.mp4" autoplay poster="<%= @video.thumbnail_large %>" style="width: 100%; height: 100%;">

  </video>
<% else %>
  <p>
    Clip not found.
  </p>
<% end %>
