<header class="hero">
  <h1>FAQ</h1>
</header>

<dl class="faq">
  <dt>What is this site?</dt>
  <dd>
    <p>
      Getting your game clips off your Xbox One and sharing with friends is a pain in the ass.  Xbclips automatically
      synchronises your game clips from your Xbox Live account and lets you easily share your headshots, touch downs,
      epic freekicks and races with your friends.
    </p>
  </dd>

  <dt>How do I get this site to work?</dt>
  <dd>
    <p>
      <%= link_to 'Sign up for an account', new_user_registration_path %> and make sure that your game clips are set to be shared with everyone on your Xbox One.
    </p>
  </dd>

  <dt>Do I need to give you my Xbox Live credentials?</dt>
  <dd>
    <p>
      No password, just gamertag.  As long as your sharing settings are set appropriately on your Xbox Live account, the xbvids bot will grab
      the videos and add it to your account.
    </p>
  </dd>
</dl>
