<section class="top-details">
	<h1>Games</h1>
</section>
<section>
<% if @games.length > 0 %>
  <ul class="game-list">
    <% @games.each do |game| %>
      <% if game.xgid %>
        <li>
          <a href="<%= game_path(game.xgid) %>">
            <img src="<%= ImageHelper.resized(game.image_box, 100) %>" />
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>
    No games yet!
  </p>
</section>
<% end %>
