<% if @videos.count > 0 %>
  <ul class="videos-grid small">
    <% @videos.each do |video| %>
      <li>
        <a href="<%= clip_path(video.clip_id) %>">
          <img src="https://s3-eu-west-1.amazonaws.com/xbone-thumbnails/<%= video.clip_id %>.png" />
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
