<% if @videos.count > 0 %>
  <ul class="videos-grid small">
    <% @videos.each do |video| %>
      <li>
        <a href="<%= clip_path(video.clip_id) %>">
          <% if video.is_uploaded? %>
            <img class="lazy responsive" data-original="<%= video.cdn_thumbnail_url %>" />
          <% else %>
            <p>
              Still uploading.
            </p>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
