
<section class="top-details">
	<h1>Users</h1>
</section>
<section>
<% if @users.count > 0 %>
  <ul class="users-list">
    <% @users.each do |user| %>
      <% if user.gamertag %>
        <li>
          <%= link_to user.gamertag, user_path(user.gamertag) %> (<%= pluralize user.videos.uploaded.count, 'video' %>, <%= pluralize user.screenshots.uploaded.count, 'screenshot' %>)
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>
    No users yet!
  </p>
</section>
<% end %>
